@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@keyframes drop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}

.rain {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.rain div {
  position: absolute;
  width: 2px;
  height: 60px;
  background: rgba(255, 255, 255, 0.2);
  animation: drop 1s infinite linear;
}

.rain div:nth-child(odd) {
  animation-delay: 0.2s;
  animation-duration: 1.5s;
}

.rain div:nth-child(even) {
  animation-delay: 0.5s;
}

.rain div:nth-child(odd):nth-child(5n + 1) {
  animation-duration: 1.2s;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 1s ease-in-out;
}


html {
  scroll-behavior: smooth;
}

.scroll-offset {
  scroll-margin-top: 1rem; /* Adjust this value to match your navbar's height */
}

@keyframes gradient-blur-dark {
  0% {
    background-position: 0% 50%;
  }
  25% {
    background-position: 50% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  75% {
    background-position: 50% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient-blur {
  animation: gradient-blur-dark 5s ease infinite;
  background: linear-gradient(
    120deg,
    #1e3a5f, /* Deep Indigo */
    #40514e, /* Pine Green */ 
    #283149, /* Midnight Blue */
    #3b6978, /* Stormy Blue */ 
    #11999e /* Teal */
  );
  background-size: 400% 400%;
  opacity: 1;
}

.dark-noise-overlay {
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
  opacity: 0.05;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

html, body, #root {
  scroll-behavior: smooth; /* Smooth scrolling between sections */
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent scrollbars */
}

body {
  background-color: transparent; 
  overflow: hidden; 
}

.scroll-container {
  scroll-snap-type: y mandatory;
  overflow-y: auto;
  height: 100vh;
  width: 100%;
}

.scroll-section {
  scroll-snap-align: start;
  height: 100vh; /* Full page height */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}